* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  line-height: 45px;
  background-color: #061121;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
}
nav ul li {
  font-size: 20px;
  font-weight: 400;
  margin: 0px 5px;
}
nav .nav__logo {
  width: 145px;
}

video {
  z-index: -1000;
  width: 100%;
  filter: brightness(40%);
}

.first {
  width: 100%;
  height: 100vh;
  position: relative;
}

.second {
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  width: 57.5%;
}
.second h1 {
  font-size: 68px;
  font-weight: 600;
  line-height: 110%;
}
.second h3 {
  font-size: 30px;
  font-weight: 700;
  padding-top: 16px;
}
.second .second-check {
  text-align: left;
  padding-top: 20px;
}
.second .second-check b {
  font-size: 18px;
}
.second .second-check b span {
  color: #1199fa;
}
.second .second-check b i {
  margin-right: 17px;
  color: #1199fa;
  font-size: 22px;
}

.download-app {
  outline: white;
  border-radius: 25px;
  color: white;
  border: 1px solid;
  font-size: 20px;
  padding: 10px 20px;
  font-weight: bold;
  margin-top: 40px;
}
.download-app .download-app-qr {
  margin-left: 5px;
}

.third {
  width: 100%;
  height: 173vh;
  background: radial-gradient(circle, #03336a 5%, #010118 90%);
}
.third img {
  padding-top: 100px;
  height: 1000px;
}

.section-1 {
  width: 100%;
  height: 90vh;
  background-color: #010118;
  color: white;
  padding-top: 10%;
}
.section-1 h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 68px;
  font-weight: 600;
  line-height: 120%;
}
.section-1 b {
  color: #1199fa;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 19px;
  padding: 12px 0px;
  word-spacing: 4px;
}
.section-1 span {
  margin: auto;
  width: 270px;
  padding: 10px 19px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 35px;
}
.section-1 span i {
  font-size: 14px;
  padding-top: 9px;
  padding-left: 12px;
}

.section-2 {
  width: 100%;
  height: 223vh;
  background-color: #000e2b;
  color: white;
}
.section-2 h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 53px;
  font-weight: 600;
  line-height: 120%;
  padding-top: 120px;
  padding-bottom: 100px;
}
.section-2 .box {
  width: 67.5%;
  height: 137.5vh;
  margin: auto;
  display: flex;
  position: relative;
}
.section-2 .box .box-1 {
  width: 449px;
  height: 278px;
  position: absolute;
  background-color: #043c72;
  margin-right: 15px;
  border-radius: 25px;
  padding: 18px;
}
.section-2 .box .box-1 .box-1-text {
  width: 240px;
  position: absolute;
  font-size: 22px;
  padding-top: 53px;
  padding-left: 30px;
}
.section-2 .box .box-1 .box-1-text span {
  color: #1199fa;
}
.section-2 .box .box-1 img {
  width: auto;
  height: 260px;
  position: absolute;
  right: 20px;
}
.section-2 .box .box-2 {
  width: 449px;
  height: 640px;
  background-color: #043c72;
  border-radius: 25px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 40px;
  font-size: 22px;
}
.section-2 .box .box-2 span {
  color: #1199fa;
}
.section-2 .box .box-2 img {
  width: auto;
  height: 69%;
  position: absolute;
  bottom: 0;
  right: 39px;
}
.section-2 .box .box-3 {
  width: 449px;
  height: 561px;
  background-color: #043c72;
  margin-right: 15px;
  border-radius: 25px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 38px;
}
.section-2 .box .box-3 .box-3-text {
  font-size: 22px;
}
.section-2 .box .box-3 .box-3-text span {
  color: #1199fa;
}
.section-2 .box .box-3 hr {
  margin: 5px 0px;
  padding: 0px;
}
.section-2 .box .box-3 .box-3-price {
  display: flex;
  line-height: 100%;
  padding-top: 20px;
}
.section-2 .box .box-3 .box-3-price .name {
  display: inline;
}
.section-2 .box .box-3 .box-3-price .name p {
  color: #9e9584;
  font-size: 14px;
}
.section-2 .box .box-3 .box-3-price .number {
  text-align: end;
}
.section-2 .box .box-3 .box-3-price .number p {
  color: red;
  font-size: 14px;
}
.section-2 .box .box-3 .box-3-price:hover {
  background-color: #074b8b;
}
.section-2 .box .box-4 {
  width: 449px;
  height: 200px;
  position: absolute;
  bottom: 0px;
  right: -15px;
  background-color: #043c72;
  margin-right: 15px;
  border-radius: 25px;
}
.section-2 .box .box-4 .box-4-text {
  width: 230px;
  position: absolute;
  font-size: 22px;
  padding-top: 23px;
  line-height: 136%;
  padding-left: 40px;
}
.section-2 .box .box-4 .box-4-text span {
  color: #1199fa;
}
.section-2 .box img {
  width: auto;
  height: 195px;
  position: absolute;
  right: 10px;
}
.section-2 .box-5 {
  height: 120px;
  width: 67.5%;
  background-color: white;
  margin: auto;
  border-radius: 25px;
  margin-top: 11px;
  padding: 10px 65px;
  color: black;
  display: flex;
  position: relative;
}
.section-2 .box-5 .left {
  margin-top: 15px;
}
.section-2 .box-5 .left h2 {
  font-weight: 600;
  font-size: 38px;
}
.section-2 .box-5 .left h5 {
  font-weight: 600;
  color: #9e9584;
  padding-left: 63px;
  font-size: 19px;
}
.section-2 .box-5 .left span {
  color: #1199fa;
}
.section-2 .box-5 .right {
  position: absolute;
  right: 170px;
  width: 170px;
  height: 53px;
  align-items: end;
  margin-top: 23px;
}
.section-2 .box-5 .right h4 {
  font-weight: 600;
  font-size: 21px;
}
.section-2 .box-5 .right h4 span {
  color: #1199fa;
}
.section-2 .box-5 .right h4 .the-app {
  right: 0%;
  bottom: 0%;
  position: absolute;
  color: rgb(0, 0, 0);
}
.section-2 .box-5 img {
  width: auto;
  height: 90px;
  margin-top: 6px;
}

.container3 {
  width: 100%;
  height: 150vh;
  position: relative;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
}
.container3 .card-video video {
  width: auto;
  height: 170vh;
}
.container3 .card-text {
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  top: 40%;
  right: 395px;
}
.container3 .card-text h1 {
  font-size: 48px;
  font-weight: 600;
}
.container3 .card-text p {
  margin-top: 15px;
  font-size: 20px;
  color: #c6ccda;
}
.container3 .card-text p span {
  color: #1199fa;
}
.container3 .card-btn {
  position: absolute;
  margin: auto;
  bottom: 21%;
  color: rgb(0, 0, 0);
  right: 580px;
  background-color: white;
  padding: 12px 22px;
  border-radius: 30px;
  font-size: 20px;
}
.container3 .card-btn i {
  font-size: 18px;
  font-weight: 100;
  padding-left: 10px;
}
.container3 .card-btn:hover {
  outline: 1px solid white;
  background: transparent;
  color: #ffffff;
}

.container4 {
  width: 100%;
  height: 150vh;
}
.container4 .left {
  height: 150vh;
  background: radial-gradient(circle, #03336a 5%, #010118 50%);
  position: relative;
}
.container4 .left img {
  width: auto;
  height: 700px;
  margin-left: 155px;
  margin-top: 120px;
}
.container4 .left .note1 {
  position: absolute;
  top: 30px;
  left: 125px;
}
.container4 .left .note1 img {
  height: auto;
  width: 330px;
}
.container4 .left .note2 {
  position: absolute;
  top: 142px;
  left: 145px;
}
.container4 .left .note2 img {
  height: auto;
  width: 330px;
}
.container4 .right {
  height: 150vh;
  background-color: #010118;
  color: white;
  padding-top: 250px;
}
.container4 .right b {
  font-size: 20px;
  color: #1199fa;
}
.container4 .right h1 {
  font-size: 48px;
  font-weight: 600;
  padding-top: 15px;
}
.container4 .right p {
  margin-top: 22px;
  font-size: 21px;
  color: #c6ccda;
}
.container4 .right p span {
  color: #1199fa;
}
.container4 .right .right-btn {
  padding: 12px 22px;
  border-radius: 30px;
  font-size: 20px;
  outline: 1px solid white;
  color: white;
  margin-top: 40px;
}
.container4 .right .right-btn:hover {
  background: #012043;
}

.container4-1 {
  background: #f4f4f4;
  height: 160vh;
}
.container4-1 .container .left-1 {
  height: 160vh;
  margin-left: 0px;
}
.container4-1 .container .left-1 .text-1 {
  margin-top: 270px;
}
.container4-1 .container .left-1 .text-1 p {
  color: #074b8b;
  font-weight: 600;
  font-size: 19px;
}
.container4-1 .container .left-1 .text-1 h1 {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 30px;
}
.container4-1 .container .left-1 .text-1 h4 {
  margin: 20px 0px;
  color: black;
  font-weight: 600;
  font-size: 25px;
}
.container4-1 .container .left-1 .text-1 h4 span {
  color: #7d7d7d;
}
.container4-1 .container .left-1 .left-btn {
  margin-top: 115px;
}
.container4-1 .container .left-1 .left-btn .btn-1 {
  padding: 10px 20px;
  outline: 1px solid;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 600;
}
.container4-1 .container .left-1 .left-btn .btn-1:hover {
  background: #dee4eb;
}
.container4-1 .container .left-1 .left-btn .btn-2 {
  padding: 10px 20px;
  background: #012043;
  color: white;
  border-radius: 25px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
}
.container4-1 .container .left-1 .left-btn .btn-2 i {
  padding-left: 10px;
  font-weight: 100;
}
.container4-1 .container .right-1 {
  height: 160vh;
}
.container4-1 .container .right-1 img {
  margin-top: 140px;
  width: auto;
  height: 746px;
}

.container5 {
  width: 100%;
  height: 230vh;
  background: #061121;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container5 .head {
  padding-top: 100px;
  text-align: center;
}
.container5 .head b {
  color: #1199fa;
  font-size: 20px;
}
.container5 .head h1 {
  font-weight: 600;
  color: white;
  font-size: 48px;
  padding-top: 11px;
}
.container5 img {
  padding-top: 10px;
  height: auto;
  width: 550px;
}
.container5 h2 {
  font-weight: 600;
  color: white;
  font-size: 25px;
  text-align: center;
}
.container5 h1 {
  font-weight: 600;
  text-align: center;
  color: #1199fa;
  font-size: 48px;
}
.container5 .about1 {
  padding: 12px;
  font-size: 20px;
  text-align: center;
  color: white;
  outline: 1px solid white;
  border-radius: 30px;
  width: 180px;
  margin: auto;
  margin-top: 85px;
}
.container5 .about1 i {
  padding-left: 10px;
}

.container5-1 {
  background: #0b1426;
  height: 160vh;
  color: white;
}
.container5-1 .row-1 {
  padding-top: 150px;
}
.container5-1 .row-1 .bar {
  display: flex;
  justify-content: space-between;
  padding: 6px 0px;
}
.container5-1 .row-1 .bar h2 {
  font-size: 29px;
}
.container5-1 .row-1 .bar .plus {
  margin: 0px;
  padding: 0px;
  font-size: 40px;
}
.container5-1 .row-1 p {
  padding-top: 13px;
  font-weight: 600;
}
.container5-1 .row-1 p span {
  color: #1199fa;
}

.hr {
  margin: 0px;
  padding: 0px;
}

.container6 {
  width: 100%;
  height: 120vh;
  background: #0b1426;
}
.container6 .row-1 {
  padding-top: 78px;
  height: 180px;
}
.container6 .row-1 .first {
  display: flex;
}
.container6 .row-1 .first .logo {
  height: 35px;
  width: 210px;
}
.container6 .row-1 .first .hr1 {
  width: 40%;
  color: white;
  padding: 0px;
  margin-left: 20px;
  margin-right: 20px;
}
.container6 .row-1 .first .icon-border {
  padding: 10px;
  outline: 1px solid;
  border-radius: 30px;
  width: 43px;
  height: 43px;
  margin: 0px 8px;
}
.container6 .row-1 .first .icon-border .last-icon {
  margin-bottom: 3px;
  margin-left: 2px;
  font-size: 19px;
  color: white;
}
.container6 .row-1 .first .icon-border:hover {
  outline: 1px solid white;
}
.container6 .row-2 h5 {
  border-left: 1px solid white;
  padding-left: 10px;
  color: white;
  margin-top: 20px;
}
.container6 .row-2 b {
  color: white;
  font-size: 20px;
  margin-bottom: 150px;
  line-height: 55px;
}
.container6 .row-2 p {
  color: white;
  font-size: 13px;
  padding: 0px;
  margin: 7px 0px;
}
.container6 .row-2 h4 {
  color: white;
  font-size: 21px;
  font-weight: bold;
  padding-top: 15px;
}
.container6 .row-2 .code {
  text-align: center;
}
.container6 .row-2 .code .img-border {
  border: 1px solid #1199fa;
  padding: 15px;
  border-radius: 20px;
  width: 95%;
  margin-left: 7px;
}
.container6 .row-2 .code .img-border img {
  width: 100%;
  height: auto;
}
.container6 .row-2 .code .img-border p {
  font-weight: bold;
  font-size: 14px;
  padding-top: 10px;
  line-height: 110%;
}

.white {
  color: white;
  margin: 50px 0px;
}

.lest {
  color: white;
  padding-top: 20px;
  font-size: 14px;
  text-align: center;
}

.nav-btn {
  font-size: 18px;
  border: 1px solid #1199fa;
  margin-top: 10px;
  color: white;
  height: 40px;
}
.nav-btn:hover {
  color: #1199fa;
  border: 1px solid white;
}/*# sourceMappingURL=App.css.map */